doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='icon', href='img/favicon.png', type='image/png')
    title Food Bar Blog
    // Bootstrap CSS
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='vendors/linericon/style.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='vendors/owl-carousel/owl.carousel.min.css')
    link(rel='stylesheet', href='vendors/lightbox/simpleLightbox.css')
    link(rel='stylesheet', href='vendors/nice-select/css/nice-select.css')
    link(rel='stylesheet', href='vendors/animate-css/animate.css')
    link(rel='stylesheet', href='vendors/swiper/css/swiper.min.css')
    link(rel='stylesheet', href='vendors/scroll/jquery.mCustomScrollbar.css')
    // main css
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/responsive.css')
  body
    // ================Offcanvus Menu Area =================
    .side_menu
      a.logo(href='#')
        img(src='img/logo.png', alt='')
      ul.list.menu_right
        li
          a(href='index.html') Home
        li
          a(href='about-us.html') About
        li
          a(href='menu.html') Menu
        li
          a(href='book-table.html') Book a table
        li
          a(href='#') Pages
          ul.list
            li
              a(href='gallery.html') Gallery
            li
              a(href='elements.html') Elements
        li
          a(href='#') Blog
          ul.list
            li
              a(href='blog.html') Blog
            li
              a(href='single-blog.html') Blog Details
        li
          a(href='contact.html') Contact
      ul.list.social
        li
          a(href='#')
            i.fa.fa-facebook
        li
          a(href='#')
            i.fa.fa-twitter
        li
          a(href='#')
            i.fa.fa-dribbble
        li
          a(href='#')
            i.fa.fa-behance
    // ================End Offcanvus Menu Area =================
    // ================Header Menu Area =================
    header.header_area.home_menu
      .main_menu
        nav.navbar.navbar-expand-lg.navbar-light
          .container
            // Brand and toggle get grouped for better mobile display
            a.navbar-brand.logo_h(href='index.html')
              img(src='img/logo-2.png', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            // Collect the nav links, forms, and other content for toggling
            #navbarSupportedContent.collapse.navbar-collapse.offset
              ul.nav.navbar-nav.menu_nav.ml-auto
                li.nav-item
                  a.nav-link(href='index.html') Home
                li.nav-item
                  a.nav-link(href='about-us.html') About
                li.nav-item
                  a.nav-link(href='menu.html') Menu
                li.nav-item
                  a.nav-link(href='book-table.html') Book a table
                li.nav-item.submenu.dropdown
                  a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Pages
                  ul.dropdown-menu
                    li.nav-item
                      a.nav-link(href='gallery.html') Gallery
                    li.nav-item
                      a.nav-link(href='elements.html') Elements
                li.nav-item.submenu.dropdown.active
                  a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Blog
                  ul.dropdown-menu
                    li.nav-item
                      a.nav-link(href='blog.html') Blog
                    li.nav-item
                      a.nav-link(href='single-blog.html') Blog Details
                li.nav-item
                  a.nav-link(href='contact.html') Contact
    // ================Header Menu Area =================
    // ================Canvus Menu Area =================
    .canvus_menu
      .container
        .float-right
          .toggle_icon.blog
            span
    // ================End Canvus Menu Area =================
    // ================Home Banner Area =================
    section.home_slider
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            img(src='img/slider/slider-1.jpg', alt='')
            .slider_text
              h1 food photography
              p
                | If you are looking at blank cassettes on the web, you may be very confused at the difference in
                | price. You may see some for as low as $.17 each.
              a.main_btn(href='gallery.html') explore gallery
          .swiper-slide
            img(src='img/slider/slider-2.jpg', alt='')
            .slider_text
              h1 food photography
              p
                | If you are looking at blank cassettes on the web, you may be very confused at the difference in
                | price. You may see some for as low as $.17 each.
              a.main_btn(href='gallery.html') explore gallery
          .swiper-slide
            img(src='img/slider/slider-3.jpg', alt='')
            .slider_text
              h1 food photography
              p
                | If you are looking at blank cassettes on the web, you may be very confused at the difference in
                | price. You may see some for as low as $.17 each.
              a.main_btn(href='gallery.html') explore gallery
    // ================End Home Banner Area =================
    // ================Blog Categorie Area =================
    section.blog_categorie_area
      .container
        .row
          .col-lg-4
            .categories_post
              img(src='img/blog/cat-post/cat-post-3.jpg', alt='post')
              .categories_details
                .categories_text
                  a(href='single-blog.html')
                    h5 Social Life
                  .border_line
                  p Enjoy your social life together
          .col-lg-4
            .categories_post
              img(src='img/blog/cat-post/cat-post-2.jpg', alt='post')
              .categories_details
                .categories_text
                  a(href='single-blog.html')
                    h5 Politics
                  .border_line
                  p Be a part of politics
          .col-lg-4
            .categories_post
              img(src='img/blog/cat-post/cat-post-1.jpg', alt='post')
              .categories_details
                .categories_text
                  a(href='single-blog.html')
                    h5 Food
                  .border_line
                  p Let the food be finished
    // ================Blog Categorie Area =================
    // ================Blog Area =================
    section.blog_area
      .container
        .row
          .col-lg-8
            .blog_left_sidebar
              article.row.blog_item
                .col-md-3
                  .blog_info.text-right
                    .post_tag
                      a(href='#') Food,
                      a.active(href='#') Technology,
                      a(href='#') Politics,
                      a(href='#') Lifestyle
                    ul.blog_meta.list
                      li
                        a(href='#')
                          | Mark wiens
                          i.lnr.lnr-user
                      li
                        a(href='#')
                          | 12 Dec, 2017
                          i.lnr.lnr-calendar-full
                      li
                        a(href='#')
                          | 1.2M Views
                          i.lnr.lnr-eye
                      li
                        a(href='#')
                          | 06 Comments
                          i.lnr.lnr-bubble
                .col-md-9
                  .blog_post
                    img(src='img/blog/main-blog/m-blog-1.jpg', alt='')
                    .blog_details
                      a(href='single-blog.html')
                        h2 Astronomy Binoculars A Great Alternative
                      p
                        | MCSE boot camps have its supporters and its detractors. Some people do not understand
                        | why you should have to spend money on boot camp when you can get the MCSE study
                        | materials yourself at a fraction.
                      a.blog_btn(href='single-blog.html') View More
              article.row.blog_item
                .col-md-3
                  .blog_info.text-right
                    .post_tag
                      a(href='#') Food,
                      a.active(href='#') Technology,
                      a(href='#') Politics,
                      a(href='#') Lifestyle
                    ul.blog_meta.list
                      li
                        a(href='#')
                          | Mark wiens
                          i.lnr.lnr-user
                      li
                        a(href='#')
                          | 12 Dec, 2017
                          i.lnr.lnr-calendar-full
                      li
                        a(href='#')
                          | 1.2M Views
                          i.lnr.lnr-eye
                      li
                        a(href='#')
                          | 06 Comments
                          i.lnr.lnr-bubble
                .col-md-9
                  .blog_post
                    img(src='img/blog/main-blog/m-blog-2.jpg', alt='')
                    .blog_details
                      a(href='single-blog.html')
                        h2 The Basics Of Buying A Telescope
                      p
                        | MCSE boot camps have its supporters and its detractors. Some people do not understand
                        | why you should have to spend money on boot camp when you can get the MCSE study
                        | materials yourself at a fraction.
                      a.blog_btn(href='single-blog.html') View More
              article.row.blog_item
                .col-md-3
                  .blog_info.text-right
                    .post_tag
                      a(href='#') Food,
                      a.active(href='#') Technology,
                      a(href='#') Politics,
                      a(href='#') Lifestyle
                    ul.blog_meta.list
                      li
                        a(href='#')
                          | Mark wiens
                          i.lnr.lnr-user
                      li
                        a(href='#')
                          | 12 Dec, 2017
                          i.lnr.lnr-calendar-full
                      li
                        a(href='#')
                          | 1.2M Views
                          i.lnr.lnr-eye
                      li
                        a(href='#')
                          | 06 Comments
                          i.lnr.lnr-bubble
                .col-md-9
                  .blog_post
                    img(src='img/blog/main-blog/m-blog-3.jpg', alt='')
                    .blog_details
                      a(href='single-blog.html')
                        h2 The Glossary Of Telescopes
                      p
                        | MCSE boot camps have its supporters and its detractors. Some people do not understand
                        | why you should have to spend money on boot camp when you can get the MCSE study
                        | materials yourself at a fraction.
                      a.blog_btn(href='single-blog.html') View More
              article.row.blog_item
                .col-md-3
                  .blog_info.text-right
                    .post_tag
                      a(href='#') Food,
                      a.active(href='#') Technology,
                      a(href='#') Politics,
                      a(href='#') Lifestyle
                    ul.blog_meta.list
                      li
                        a(href='#')
                          | Mark wiens
                          i.lnr.lnr-user
                      li
                        a(href='#')
                          | 12 Dec, 2017
                          i.lnr.lnr-calendar-full
                      li
                        a(href='#')
                          | 1.2M Views
                          i.lnr.lnr-eye
                      li
                        a(href='#')
                          | 06 Comments
                          i.lnr.lnr-bubble
                .col-md-9
                  .blog_post
                    img(src='img/blog/main-blog/m-blog-4.jpg', alt='')
                    .blog_details
                      a(href='single-blog.html')
                        h2 The Night Sky
                      p
                        | MCSE boot camps have its supporters and its detractors. Some people do not understand
                        | why you should have to spend money on boot camp when you can get the MCSE study
                        | materials yourself at a fraction.
                      a.blog_btn(href='single-blog.html') View More
              article.row.blog_item
                .col-md-3
                  .blog_info.text-right
                    .post_tag
                      a(href='#') Food,
                      a.active(href='#') Technology,
                      a(href='#') Politics,
                      a(href='#') Lifestyle
                    ul.blog_meta.list
                      li
                        a(href='#')
                          | Mark wiens
                          i.lnr.lnr-user
                      li
                        a(href='#')
                          | 12 Dec, 2017
                          i.lnr.lnr-calendar-full
                      li
                        a(href='#')
                          | 1.2M Views
                          i.lnr.lnr-eye
                      li
                        a(href='#')
                          | 06 Comments
                          i.lnr.lnr-bubble
                .col-md-9
                  .blog_post
                    img(src='img/blog/main-blog/m-blog-5.jpg', alt='')
                    .blog_details
                      a(href='single-blog.html')
                        h2 Telescopes 101
                      p
                        | MCSE boot camps have its supporters and its detractors. Some people do not understand
                        | why you should have to spend money on boot camp when you can get the MCSE study
                        | materials yourself at a fraction.
                      a.blog_btn(href='single-blog.html') View More
              nav.blog-pagination.justify-content-center.d-flex
                ul.pagination
                  li.page-item
                    a.page-link(href='#', aria-label='Previous')
                      span(aria-hidden='true')
                        span.lnr.lnr-chevron-left
                  li.page-item
                    a.page-link(href='#') 01
                  li.page-item.active
                    a.page-link(href='#') 02
                  li.page-item
                    a.page-link(href='#') 03
                  li.page-item
                    a.page-link(href='#') 04
                  li.page-item
                    a.page-link(href='#') 09
                  li.page-item
                    a.page-link(href='#', aria-label='Next')
                      span(aria-hidden='true')
                        span.lnr.lnr-chevron-right
          .col-lg-4
            .blog_right_sidebar
              aside.single_sidebar_widget.search_widget
                .input-group
                  input.form-control(type='text', placeholder='Search Posts')
                  span.input-group-btn
                    button.btn.btn-default(type='button')
                      i.lnr.lnr-magnifier
                // /input-group
                .br
              aside.single_sidebar_widget.author_widget
                img.author_img.rounded-circle(src='img/blog/author.png', alt='')
                h4 Charlie Barber
                p Senior blog writer
                .social_icon
                  a(href='#')
                    i.fa.fa-facebook
                  a(href='#')
                    i.fa.fa-twitter
                  a(href='#')
                    i.fa.fa-github
                  a(href='#')
                    i.fa.fa-behance
                p
                  | Boot camps have its supporters andit sdetractors. Some people do not understand why you should
                  | have to spend money on boot camp when you can get. Boot camps have itssuppor ters andits
                  | detractors.
                .br
              aside.single_sidebar_widget.popular_post_widget
                h3.widget_title Popular Posts
                .media.post_item
                  img(src='img/blog/popular-post/post1.jpg', alt='post')
                  .media-body
                    a(href='single-blog.html')
                      h3 Space The Final Frontier
                    p 02 Hours ago
                .media.post_item
                  img(src='img/blog/popular-post/post2.jpg', alt='post')
                  .media-body
                    a(href='single-blog.html')
                      h3 The Amazing Hubble
                    p 02 Hours ago
                .media.post_item
                  img(src='img/blog/popular-post/post3.jpg', alt='post')
                  .media-body
                    a(href='single-blog.html')
                      h3 Astronomy Or Astrology
                    p 03 Hours ago
                .media.post_item
                  img(src='img/blog/popular-post/post4.jpg', alt='post')
                  .media-body
                    a(href='single-blog.html')
                      h3 Asteroids telescope
                    p 01 Hours ago
                .br
              aside.single_sidebar_widget.ads_widget
                a(href='#')
                  img.img-fluid(src='img/blog/add.jpg', alt='')
                .br
              aside.single_sidebar_widget.post_category_widget
                h4.widget_title Post Catgories
                ul.list.cat-list
                  li
                    a.d-flex.justify-content-between(href='#')
                      p Technology
                      p 37
                  li
                    a.d-flex.justify-content-between(href='#')
                      p Lifestyle
                      p 24
                  li
                    a.d-flex.justify-content-between(href='#')
                      p Fashion
                      p 59
                  li
                    a.d-flex.justify-content-between(href='#')
                      p Art
                      p 29
                  li
                    a.d-flex.justify-content-between(href='#')
                      p Food
                      p 15
                  li
                    a.d-flex.justify-content-between(href='#')
                      p Architecture
                      p 09
                  li
                    a.d-flex.justify-content-between(href='#')
                      p Adventure
                      p 44
                .br
              aside.single-sidebar-widget.newsletter_widget
                h4.widget_title Newsletter
                p
                  | Here, I focus on a range of items and features that we use in life without giving them a second thought.
                .form-group.d-flex.flex-row
                  .input-group
                    .input-group-prepend
                      .input-group-text
                        i.fa.fa-envelope(aria-hidden='true')
                    input#inlineFormInputGroup.form-control(type='text', placeholder='Enter email', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter email'")
                  a.bbtns(href='#') Subcribe
                p.text-bottom You can unsubscribe at any time
                .br
              aside.single-sidebar-widget.tag_cloud_widget
                h4.widget_title Tag Clouds
                ul.list
                  li
                    a(href='#') Technology
                  li
                    a(href='#') Fashion
                  li
                    a(href='#') Architecture
                  li
                    a(href='#') Fashion
                  li
                    a(href='#') Food
                  li
                    a(href='#') Technology
                  li
                    a(href='#') Lifestyle
                  li
                    a(href='#') Art
                  li
                    a(href='#') Adventure
                  li
                    a(href='#') Food
                  li
                    a(href='#') Lifestyle
                  li
                    a(href='#') Adventure
    // ================Blog Area =================
    // ================ start footer Area  =================
    footer.footer-area.p_120
      .container
        .row
          .col-lg-2.col-md-6.col-sm-6
            .single-footer-widget.tp_widgets
              h6.footer_title Top Products
              ul.list
                li
                  a(href='#') Managed Website
                li
                  a(href='#') Manage Reputation
                li
                  a(href='#') Power Tools
                li
                  a(href='#') Marketing Service
          .col-lg-2.col-md-6.col-sm-6
            .single-footer-widget.tp_widgets
              h6.footer_title Quick Links
              ul.list
                li
                  a(href='#') Jobs
                li
                  a(href='#') Brand Assets
                li
                  a(href='#') Investor Relations
                li
                  a(href='#') Terms of Service
          .col-lg-2.col-md-6.col-sm-6
            .single-footer-widget.tp_widgets
              h6.footer_title Features
              ul.list
                li
                  a(href='#') Jobs
                li
                  a(href='#') Brand Assets
                li
                  a(href='#') Investor Relations
                li
                  a(href='#') Terms of Service
          .col-lg-2.col-md-6.col-sm-6
            .single-footer-widget.tp_widgets
              h6.footer_title Resources
              ul.list
                li
                  a(href='#') Guides
                li
                  a(href='#') Research
                li
                  a(href='#') Experts
                li
                  a(href='#') Agencies
          .col-lg-4.col-md-6.col-sm-6
            aside.f_widget.news_widget
              .f_title
                h3.footer_title Newsletter
              p Stay updated with our latest trends
              #mc_embed_signup
                form.subscribe_form.relative(target='_blank', action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01', method='get')
                  .input-group.d-flex.flex-row
                    input(name='EMAIL', placeholder='Enter email address', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Email Address '", required='', type='email')
                    button.btn.sub-btn
                      span.lnr.lnr-arrow-right
                  .mt-10.info
        .row.footer-bottom.d-flex.justify-content-between.align-items-center
          p.col-lg-8.col-md-8.footer-text.m-0
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            | Copyright ©
            script.
              document.write(new Date().getFullYear());
            |  All rights reserved | This template is made with 
            i.fa.fa-heart-o(aria-hidden='true')
            |  by 
            a(href='https://colorlib.com', target='_blank') Colorlib
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          .col-lg-4.col-md-4.footer-social
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-dribbble
            a(href='#')
              i.fa.fa-behance
    // ================ End footer Area  =================
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='js/jquery-3.2.1.min.js')
    script(src='js/popper.js')
    script(src='js/bootstrap.min.js')
    script(src='js/stellar.js')
    script(src='vendors/lightbox/simpleLightbox.min.js')
    script(src='vendors/nice-select/js/jquery.nice-select.min.js')
    script(src='vendors/isotope/imagesloaded.pkgd.min.js')
    script(src='vendors/isotope/isotope-min.js')
    script(src='vendors/owl-carousel/owl.carousel.min.js')
    script(src='js/jquery.ajaxchimp.min.js')
    script(src='vendors/counter-up/jquery.waypoints.min.js')
    script(src='vendors/counter-up/jquery.counterup.js')
    script(src='js/mail-script.js')
    script(src='vendors/popup/jquery.magnific-popup.min.js')
    script(src='vendors/scroll/jquery.mCustomScrollbar.js')
    script(src='vendors/swiper/js/swiper.min.js')
    script(src='js/theme.js')
